hw10/src/111598067
**1_138**
**/111598067/**
hw10/src/output/Aligned/*
hw10/src/output/rotated/*
hw10/src/input/111598067/*
hw10/src/Rotate_Crop_Page-main/1_25/*
hw10/src/Rotate_Crop_Page-main/26_50/*
hw10/src/Rotate_Crop_Page-main/51_75/*
hw10/src/Rotate_Crop_Page-main/76_100/*
hw10/src/Rotate_Crop_Page-main/101_125/*
hw10/src/Rotate_Crop_Page-main/126_138/*
hw10/src/input/111598067.zip
